// --------------------------------------------------
//
// # Accessibility
//
// ## Table of Contents
//   1. Screen Reader Only
//   2. Reduced Motion
//
// --------------------------------------------------



// ***************************** //
// *** 1. SCREEN READER ONLY *** //
// ***************************** //

.skip-to-content:not(:focus),
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



// ************************* //
// *** 2. REDUCED MOTION *** //
// ************************* //

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation: none!important;
    transition: none!important;
  }
}
