  
// --------------------------------------------------
//
// # Colors
//
// ## Table of Contents
//   1. Colors Array
//   2. Absolute Styles
//
// --------------------------------------------------



// *********************** //
// *** 1. COLORS ARRAY *** //
// *********************** //

$colors: (
  'black':  #231f20,
  'white':  #f5f5f5
);



// ************************** //
// *** 2. ABSOLUTE STYLES *** //
// ************************** //

$backgroundColor: map-get($colors, 'white');
$textColor: map-get($colors, 'black');
