@import "./accessibility";
@import "./colors";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $backgroundColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 1.333;
  min-height: 100%;
  * {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  #root {
    align-items: center;
    align-self: center;
    display: flex;
    flex: 1 1 auto;
  }
}
